
<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<div class="counter-wrapper">
 <h1>Counter</h1>
 <form class="counter">
 <button type="button" id="increment">Increment</button>
 <input type=”number” name=”counter” id="counter" value="0" />
 <button type="button" id="decrement">Decrement</button>
 </form>
</div>


